// Base
@import 'base/variables';
@import 'base/mixins';


*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

//Blocks
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
