.advantages{
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper{
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__block{
        width: 247px;
        text-align: center;
    }
    &__subtitle{
        margin-top: 35px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__descr{
        margin-top: 25px;
        font-size: 14px;
        font-weight: 500;
        color: #0d0d0d;
        a{
            color: #ff0000;
        }
    }
}