.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../../img/consultation/bg.jpg') center center/cover no-repeat;
    &__descr{
        margin-top: 75px;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
    }
}

@media(max-width:767px){
    .consultation{
        min-height: 650px;
        padding: 70px 0 78px 0;
        &__descr{
            font-size: 18px;
            text-align: center;
            margin-top: 65px;
        }
    }
}

@media(max-width:575px){
    .consultation{
        min-height: 500px;
        padding: 40px 0 48px 0;
        &__descr{
            font-size: 14px;
            margin-top: 43px;
        }
    }
}